html, body {
	height: 100%;
	width: 100%;
  background: #FAFAFA;
}

#app {
	width: 100%;
	margin: 0;
	line-height: 16px;
	font-size: 14px;
	box-sizing: border-box;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 4% 21%;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
